

<!DOCTYPE html>
2<html>
3  <head>
4    <title>Buy cool new product</title>
5    <link rel="stylesheet" href="style.css">
6    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
7    <script src="https://js.stripe.com/v3/"></script>
8  </head>
9  <body>
10    <section>
11      <div class="product">
12        <img
13          src="https://i.imgur.com/EHyR2nP.png"
14          alt="The cover of Stubborn Attachments"
15        />
16        <div class="description">
17          <h3>Stubborn Attachments</h3>
18          <h5>$20.00</h5>
19        </div>
20      </div>
21      <button type="button" id="checkout-button">Checkout</button>
22    </section>
23  </body>
24  <script type="text/javascript">
25    // Create an instance of the Stripe object with your publishable API key
26    var stripe = Stripe("pk_test_51IHV3GK4H9RcisWqfHwUAO8iZP4KuEUka8TO0hNknr0bbRoUaMvbWOIqpB7JAog8hiug9POlvXeAjQkzbAiSVmwQ00pMs5JHQx");
27    var checkoutButton = document.getElementById("checkout-button");
28
29    checkoutButton.addEventListener("click", function () {
30      fetch("/create-checkout-session", {
31        method: "POST",
32      })
33        .then(function (response) {
34          return response.json();
35        })
36        .then(function (session) {
37          return stripe.redirectToCheckout({ sessionId: session.id });
38        })
39        .then(function (result) {
40          // If redirectToCheckout fails due to a browser or network
41          // error, you should display the localized error message to your
42          // customer using error.message.
43          if (result.error) {
44            alert(result.error.message);
45          }
46        })
47        .catch(function (error) {
48          console.error("Error:", error);
49        });
50    });
51  </script>
52</html>